---
import Layout from "@/layouts/Layout.astro"
import Hero from "@/components/Hero.astro"
import Education from "@/components/Education.astro"
import Experience from "@/components/Experience.astro"
import Projects from "@/components/Projects.astro"
import AboutMe from "@/components/AboutMe.astro"
import DetailModal from "@/components/DetailModal.astro"
import Chatbot from "@/components/Chatbot.astro"
---

<Layout
  title="Akshat Shah | Software Engineer Portfolio"
  description="Aspiring Software Engineer crafting scalable solutions. USC Computer Science grad student."
>
  <main>
    <Hero />

    <div class="space-y-2">
      <Education />
      <Experience />
      <Projects />
    </div>

    <AboutMe />
  </main>

  <DetailModal />
  <Chatbot />
</Layout>
